.main {
  margin-top: 50px;
  max-width: 800px;
  margin: 60px auto;
  padding: 40px;
  text-align: left;
  font-family: Poppins Regular;
}

.text_bold_italic {
  font-style: italic;
}

.projects_list li a {
  text-decoration: underline;
  transition: color 0.2s ease, transform 0.3s cubic-bezier(0.25, 1, 0.5, 1);
}
.projects_list li a:hover {
  color: rgb(172, 171, 171);
}

.heading a {
  color: white;
  text-decoration: none;
}

.heading p {
  font-size: 15px;
  color: rgb(170, 170, 170);
}

.content {
  margin-top: 20px;
}

.content p {
  margin-top: 10px;
  font-size: 17px;
  font-style: italic;
}

.content h2 {
  margin-top: 20px;
}

.divider {
  height: 1px;
  margin-top: 30px;
  background-color: rgba(255, 255, 255, 0.3);
}

.content ul {
  margin-top: 10px;
  margin-left: 25px;
}

.content ul li {
  display: list-item;
  position: relative;
  padding-left: 5px;
  margin-bottom: 10px;
  font-family: Poppins Regular;
  font-size: 17px;
}

.content ul img {
  vertical-align: middle;
  margin-right: 8px;
  width: 27px;
  height: 27px;
}

.github_stats {
  margin-top: 15px;
}

.github_stats img {
  display: block;
  margin: 25px auto 0 auto;
}

.connect_ul li a {
  transition: color 0.2s ease, transform 0.3s cubic-bezier(0.25, 1, 0.5, 1);
}

.connect_ul li a:hover {
  color: rgb(172, 171, 171);
}
