.markdown_body {
  max-width: 700px;
  margin: 0 auto;
  padding: 20px;
  line-height: 1.7;
  font-family: Poppins Regular;
}

.heading_markdown a {
  color: white;
  text-decoration: none;
}

.heading_markdown p {
  font-size: 15px;
  color: rgb(170, 170, 170);
}

.markdown_body {
    margin-top: 50px;
    color: rgb(204, 204, 204);
}

.markdown_body h1, h2, h3, h4, h5, h6 {
    color: white;
}